<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title> Current Time</title>
        <link rel='stylesheet' href='css/<%= Styler%>'>
    </head>
    <body>
        This is page was loaded at <%= time %>

    </body>
</html>